<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Pinterest Home Page</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <h3 >
      <span class="logo"><i class="fa fa-pinterest" style="font-size:35px;color:#FF0000"></i></span>
      Pinterest 
    </h3>
    <nav>
      <ul>
        <li>
          <a href="https://about.pinterest.com/en-gb">About</a>
        </li>
        <li>
          <a href="https://business.pinterest.com/en-gb/">Business</a>
        </li>
        <li>
          <a href="https://newsroom.pinterest.com/en-gb">Press</a>
        </li>
      </ul>
      <div class="buttons">
        <a href="/login" class="login-button">Log in</a>
        <a href="/signup" class="signup-button">Sign Up</a>

      </div>
    </nav>
  </header>
  <div class="heading">
    <span class="text">
      Get your next
    </span>
    <div class="wrapper">
      <div class="offset" ><h2 class="text animate-before" style="color:#e3780c">chai time snacks idea</h2> </div>
      <div class="offset"><h2 class="text animate-before"  style="color:#0074e8">home decor idea</h2> </div>
      <div class="offset"><h2 class="text animate-before" style="color:#0fa573">outfit idea</h2> </div>
      <div class="offset"><h2 class="text animate-before" style="color:#0a6955">DIY idea</h2> </div>
    </div>
  </div>
  <div class="grid-container">
    <div class="grid">
      <div class="column animate-before">
        <div class="item"><img src="https://images.unsplash.com/photo-1606791405792-1004f1718d0c?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8Y29mZmVlJTIwYmVhbnN8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60" style="width:236px; height:310px;border-radius:20px;"></div>
        <div class="item"></div>
        <div class="item"></div>
        
      </div>
      <div class="column animate-before">
        <div class="item"><img src="https://images.unsplash.com/photo-1522825180917-a355ef45e880?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fGNvZmZlZSUyMGJlYW5zfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60" style="width:236px; height:310px;border-radius:20px;"></div>
        <div class="item"></div>
        <div class="item"></div>
        
      </div>
      <div class="column animate-before">
        <div class="item"><img src="https://images.unsplash.com/photo-1542444256-164bd32f11fc?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fHNhbW9zYXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60" style="width:236px; height:310px;border-radius:20px;"></div>
        <div class="item"></div>
        <div class="item"></div>
        
      </div>
      <div class="column animate-before">
        <div class="item"><img src="https://images.unsplash.com/photo-1598514982205-f36b96d1e8d4?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fHNhbW9zYXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60" style="width:236px; height:310px;border-radius:20px;"></div>
        <div class="item"></div>
        <div class="item"></div>
        
      </div>
      <div class="column animate-before">
        <div class="item"><img src="https://images.unsplash.com/photo-1565364910777-c8bbab761ec8?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fHNhbW9zYXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60" style="width:236px; height:310px;border-radius:20px;"></div>
        <div class="item"></div>
        <div class="item"></div>
        
      </div>
      <div class="column animate-before">
        <div class="item"><img src="https://images.unsplash.com/photo-1512149154706-f9b30ded17ad?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8c25hY2tzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60" style="width:236px; height:310px;border-radius:20px;"></div>
        <div class="item"></div>
        <div class="item"></div>
       
      </div>
      <div class="column animate-before">
        <div class="item"><img src="https://images.unsplash.com/photo-1569420067112-b57b4f024595?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fHNuYWNrc3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60" style="width:236px; height:310px;border-radius:20px;"></div>
        <div class="item"></div>
        <div class="item"></div>
        
      </div>
    </div>
    <div class="grid">
      <div class="column animate-before">
        <div class="item"><img src="https://images.unsplash.com/photo-1513519245088-0e12902e5a38?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8aG9tZSUyMGRlY29yfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60" style="width:236px; height:310px;border-radius:20px;"></div>
        <div class="item"></div>
        <div class="item"></div>
        
      </div>
      <div class="column animate-before">
        <div class="item"><img src="https://images.unsplash.com/photo-1513161455079-7dc1de15ef3e?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8aG9tZSUyMGRlY29yfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60" style="width:236px; height:310px;border-radius:20px;"></div>
        <div class="item"></div>
        <div class="item"></div>
        
      </div>
      <div class="column animate-before">
        <div class="item"><img src="https://images.unsplash.com/photo-1556912998-c57cc6b63cd7?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8aG9tZSUyMGRlY29yfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60" style="width:236px; height:310px;border-radius:20px;"></div>
        <div class="item"></div>
        <div class="item"></div>
        
      </div>
      <div class="column animate-before">
        <div class="item"><img src="https://images.unsplash.com/photo-1586253984287-966f1d0cbd8f?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTl8fGhvbWUlMjBkZWNvcnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60" style="width:236px; height:310px;border-radius:20px;"></div>
        <div class="item"></div>
        <div class="item"></div>
        
      </div>
      <div class="column animate-before">
        <div class="item"><img src="https://images.unsplash.com/photo-1586253984287-966f1d0cbd8f?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTl8fGhvbWUlMjBkZWNvcnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60" style="width:236px; height:310px;border-radius:20px;"></div>
        <div class="item"></div>
        <div class="item"></div>
        
      </div>
      <div class="column animate-before">
        <div class="item"><img src="https://images.unsplash.com/photo-1586253984287-966f1d0cbd8f?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTl8fGhvbWUlMjBkZWNvcnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60" style="width:236px; height:310px;border-radius:20px;"></div>
        <div class="item"></div>
        <div class="item"></div>
        
      </div>
      <div class="column animate-before">
        <div class="item"><img src="https://images.unsplash.com/photo-1586797472895-b23563011ec1?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzF8fGhvbWUlMjBkZWNvcnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60" style="width:236px; height:310px;border-radius:20px;"></div>
        <div class="item"></div>
        <div class="item"></div>
        
      </div>
    </div>
    <div class="grid">
      <div class="column animate-before">
        <div class="item"><img src="https://images.unsplash.com/photo-1603771628308-b264a350047b?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8b3V0Zml0fGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60" style="width:236px; height:310px;border-radius:20px;"></div>
        <div class="item"></div>
        <div class="item"></div>
        
      </div>
      <div class="column animate-before">
        <div class="item"><img src="https://images.unsplash.com/photo-1613338761484-f982b6362b9d?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fG91dGZpdHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60" style="width:236px; height:310px;border-radius:20px;"></div>
        <div class="item"></div>
        <div class="item"></div>
       
      </div>
      <div class="column animate-before">
        <div class="item"><img src="https://images.unsplash.com/photo-1617627143750-d86bc21e42bb?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8aW5kaWFuJTIwZ2lybHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60" style="width:236px; height:310px;border-radius:20px;"></div>
        <div class="item"></div>
        <div class="item"></div>
  
      </div>
      <div class="column animate-before">
        <div class="item"><img src="https://images.unsplash.com/photo-1615022702095-ff2c036f3360?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8aW5kaWFuJTIwZ2lybHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60" style="width:236px; height:310px;border-radius:20px;"></div>
        <div class="item"></div>
        <div class="item"></div>
        
      </div>
      <div class="column animate-before">
        <div class="item"><img src="https://images.unsplash.com/photo-1587012632765-56c69a90c6ce?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8aW5kaWFuJTIwZ2lybHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60" style="width:236px; height:310px;border-radius:20px;"></div>
        <div class="item"></div>
        <div class="item"></div>
        
      </div>
      <div class="column animate-before">
        <div class="item"><img src="https://images.unsplash.com/photo-1576110527665-220cb1fc94b2?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjJ8fG91dGZpdHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60" style="width:236px; height:310px;border-radius:20px;"></div>
        <div class="item"></div>
        <div class="item"></div>
        
      </div>
      <div class="column animate-before">
        <div class="item"><img src="https://images.unsplash.com/photo-1562157873-818bc0726f68?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjl8fG91dGZpdHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60" style="width:236px; height:310px;border-radius:20px;"></div>
        <div class="item"></div>
        <div class="item"></div>
       
      </div>
    </div>
    <div class="grid">
      <div class="column animate-before">
        <div class="item"><img src="https://images.unsplash.com/photo-1522065893269-6fd20f6d7438?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8ZGl5fGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60" style="width:236px; height:310px;border-radius:20px;"></div>
        <div class="item"></div>
        <div class="item"></div>
        
      </div>
      <div class="column animate-before">
        <div class="item"><img src="https://images.unsplash.com/photo-1595814432314-90095f342694?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8ZGl5fGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60" style="width:236px; height:310px;border-radius:20px;"></div>
        <div class="item"></div>
        <div class="item"></div>
        
      </div>
      <div class="column animate-before">
        <div class="item"><img src="https://images.unsplash.com/photo-1536236155319-1edab471917c?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8ZGl5fGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60" style="width:236px; height:310px;border-radius:20px;"></div>
        <div class="item"></div>
        <div class="item"></div>
        
      </div>
      <div class="column animate-before">
        <div class="item"><img src="https://images.unsplash.com/photo-1592424451528-a5a6ae06af1c?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fGRpeXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60" style="width:236px; height:310px;border-radius:20px;"></div>
        <div class="item"></div>
        <div class="item"></div>
      
      </div>
      <div class="column animate-before">
        <div class="item"><img src="https://images.unsplash.com/photo-1610467618849-66d363f5aa16?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fGRpeXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60" style="width:236px; height:310px;border-radius:20px;"></div>
        <div class="item"></div>
        <div class="item"></div>
        
      </div>
      <div class="column animate-before">
        <div class="item"><img src="https://images.unsplash.com/photo-1615220367990-1940567341f6?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjN8fGRpeXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60" style="width:236px; height:310px;border-radius:20px;"></div>
        <div class="item"></div>
        <div class="item"></div>
        
      </div>
      <div class="column animate-before">
        <div class="item"><img src="https://images.unsplash.com/photo-1577547078777-ff1088d792b1?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fGRpeXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60" style="width:236px; height:310px;border-radius:20px;"></div>
        <div class="item"></div>
        <div class="item"></div>
        
      </div>
    </div>
    
    
  </div>
  
</body>
<script src="/javascripts/script.js"></script>
</html>